body {

    background-color: rgb(46, 42, 42);
    background-image: url(momo.jpg);
    background-size: cover;
    letras
    background-color: rgb(255, 253, 253);
    font family: Arial, sans-serif;
    font-size: 18px;

}

p { 

    background-color: rgba(117, 117, 108, 0.712);
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;

}
